dsc-poisthin-indep/dsc-gtex-files/
dsc-poisthin-dep/dsc-gtex-files/
dsc-poisthin-dep/dsc-gtex-files-old/
dsc-poisthin-indep/dsc-gtex-files-old/
*~
paper/
*/.Rhistory
dsc-poisthin-indep/res.Rdata
dsc-poisthin-dep/res.Rdata
*.Rdata